version: '3.8'

services:
  bot:
    build: .
    container_name: file_search_bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./search_cache.db:/app/search_cache.db
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"